form {
  display: flex;
  flex-direction: column;
}
label {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}
input {
  position: relative;
  width: 200px;
}
#password {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}
input[type="password"] {
  border: 2px solid #c2c2c2;
}
input[type="button"] {
  background-color: #7f3fff;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
}
p {
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  color: #ffffff;
}
